# Environment files
.env

# Database files
*.db
*.sqlite
*.sqlite3
*.mdb

# Checkpoint files
*.ckpt
.langgraph_api/
venv/
gangubai_chatbot.ipynb
simple_rag.py
.gangubai_db_hf/

__pycache__/
*.pyc

# ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/